body { 
	margin: 0;
	background-color: #7E8F7C;
}
img {
    max-width: 100%;
    height: auto;
}

div.title {
	position: absolute;
	top: 10px;
	left: 1%;
	width: 8%;
	height: 60px;
	background-color: #AABFA8;
	text-align: center;
	font-size: 1.25vw;
}
div.instructions {
	position: absolute;
	top: 80px;
	left: 1%;
	width: 9%;
	min-width: 100px;
	height: 500px;
	font-size: 0.75vw;
}
div.windCheck {
	position: absolute;
	bottom: 280px;
	left: 1%;
	width: 9%;
	min-width: 100px;
	height: 100px;
}
div.treeHeightSlider {
	position: absolute;
	bottom: 240px;
	left: 1%;
	width: 9%;
	min-width: 100px;
	height: 100px;
}
div.treeSizeSlider {
	position: absolute;
	bottom: 180px;
	left: 1%;
	width: 9%;
	height: 100px;
}
div.treeComplexitySlider {
	position: absolute;
	bottom: 120px;
	left: 1%;
	width: 9%;
	min-width: 100px;
	height: 100px;
}
div.newTree {
	position: absolute;
	bottom: 40px;
	left: 2%;
	width: 8%;
	min-width: 100px;
	height: 100px;
}
div.reset {
	position: absolute;
	bottom: 0px;
	left: 2%;
	width: 8%;
	min-width: 100px;
	height: 100px;
}

div.font80 {
	font-size: 80%;
}